
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');

*{

    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}
body{
    font-size: 15px;
    min-height: 100vh;
    max-width: 100%;
   display: flex;
   align-items: center;
   /* border: 5px solid red; */

}
main{
    width: 60%;
    /* border: 1px solid black; */
    margin: auto;


}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cards{
    max-width: 33%;
    height: 25rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cards img{

    width: 40%;


}
.cards h2{
    font-family: "big shoulder display", sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 95%);


}
.cards p{
    font-family: "lexand deca", sans-serif;
    color: hsla(0, 0%, 100%, 0.75); 
    line-height: 1.5rem;
    width: 80%;
}
#card-1{
    background-color: hsl(31, 77%, 52%);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
#card-2{
    background-color:hsl(184, 100%, 22%);

}
#card-3{
    background-color:hsl(179, 100%, 13%);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
#card-1 button{
    color: hsl(31, 77%, 52%);;
    border-radius: 20px;
    font-family:"lexand deca", sans-serif; 
    border: none;
    height: 2rem;
    width: 80%;
}

#card-2 button{
    color: hsl(184, 100%, 22%);
    border-radius: 20px;
    height: 2rem;
    font-family:"lexand deca", sans-serif; 
  width: 80%;
  border: none;
}
#card-3 button{
    color:hsl(179, 100%, 13%);
    border-radius: 20px;
    height: 2rem;
    font-family:"lexand deca", sans-serif;
    width: 80%;
    border: none;
}